@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background: url(fondo.jpg) no-repeat center center fixed;
    background-size: cover;
   
  }
  
  .logo{
    width: auto;
    height: 50px; 
    padding-left:10px;
    margin-top: 6px;
    
 
  }
 

  nav{
      display: flex;
      align-items:center;
      justify-content: space-between;
      min-height:8vh;
      background-color: #fff;
  }

  .ham{
    display:none;
    background-color:transparent;
    cursor: pointer;
    border:none;
    margin:0;
    padding:0;
    }
    
    .ham span{
        background-color: #808080;
        display:block;
        height:3px;
        width: 28px;
        margin:10px auto;
        border-radius:2px;    
    }
  .enlaces-menu{ 
      display:none;
      padding:0;
  }
  .enlaces-menu li{
      padding: 0 40px;
      list-style-type: none;
      transition: 0.3s;
  }

  .enlaces-menu li a{
      text-decoration:none;
      font-size: 1.8rem;
      color:#f3f3f3;
      font-weight:600;
  }
  .enlaces-menu li:hover{
      background-color:#4d4d4d;
  }


.header__menu--socialnetwork { 
  margin-right: 8px; 
  display: inline-block; 
  align-items: left; 
  cursor: pointer; 
} 
.header__menu--socialnetwork img { 
  margin-right: 8px; 
  width: 45px;
  border-radius: 50%; 
  border: 2px solid white; 
} 
.header__menu--socialnetwork p { 
  margin: 0px; 
  color: white;
} 


/* DISPOSITIVOS MOVILES */

  @media (max-width:768px) {
    body{
      overflow:hidden;
    }
   
    .header__menu--socialnetwork{
      display: none;
    }
     

      .ham{
          display:block;
          cursor:pointer;
          position: absolute; 
          top:15px;
          right:25px;
          transition: 0.2s  0.1s; 
  
      }
   
      
      nav{
          flex-direction:column;
          align-items: flex-start;
          padding-top: 25px;
          padding-bottom: 25px;
      }

      .logo{
       
        padding-left:15px;

        
      }

      .enlaces-menu{
        
          flex-direction:column;
          justify-content: space-between;
          align-items:center;
          height: 92vh;         
          margin:0;
          padding:0; 
          display:none;
          opacity:0;
          transition: opacity 5s ease-out;
          width:100%;
      
         
      }
      .enlaces-menu li{
        text-align:center;
        width:100%;
        padding:20px;    
    }

    .footer {
background-color: #f1f9fe;
  text-align: left;
  font-size: 12px;

    }
  
}

/* Animaciones */
  
@keyframes muestraMenu {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .enlaces-menu.activado{
      display:flex; 
      animation: muestraMenu 350ms ease-in-out both;
  }

  .br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
  }
  
  .br-2.animado{
    opacity: 0;
  }
  .br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
  }

 .ham.girar:hover{
     transform:rotate(360deg);
 }



 /* carousel */

  .carousel {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    position: relative;
  }
  
  .carousel__container {
    white-space: nowrap;
    margin: 30px 0px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .carousel-item {
    width: 242px;
    height: 136px;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
  }
  .carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
  }

  .carousel__container:hover .carousel-item {
    opacity: 0.3;
  }
    
  .carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
  }
  
  .carousel-item__img {
    width: 242px;
    height: 136px;
    object-fit: cover;
  }
  
  .carousel-item--2 {
    width: 239px;
    height: 479px;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
  }

.carousel-item--2:hover ~ .carousel-item--2 {
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item--2 {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item--2:hover {
  transform: scale(1.2);
  opacity: 1;
}

.carousel-item__img--2 {
  width: 239px;
  height: 479px;
  object-fit: cover;
}
.carousel-item__details {
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 26%,rgba(0,0,0,0.06) 31%,rgba(0,0,0,0.7) 83%,rgba(0,0,0,0.7) 100%);
  color: white;
  font-size: 10px;
  font-family: 'mulish',sans-serif;
  opacity: 1;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-item__details--2 {
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.59) 42%,rgba(0,0,0,0.7) 50%); 
  color: white;
  font-size: 10px;
  font-family: 'mulish',sans-serif;
  opacity: 1;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 1;
  left: 0;
  right: 0;
  bottom: 0;
}
/*  /carousel */

.carousel__mylist {
  color: #808080
;
  font-family: 'mulish' , sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left:  10px;
  display: inline;
}

.carousel-item__details--btn {
  width: 25px;
  margin-top: 50px;
}
.carousel-item__details--btn:hover {
  transform: scale(1.3);
}

.carousel-item__details--title {
  color: white;
  font-size: 16px;
  margin: 5px 0;
}

.carousel-item__details--title:hover {
  color: red;
}

.carousel-item__details--subtitle {
  margin: 5px 0;
}

.carousel-item__details--link {
  text-decoration: none;
  color: white;
}
  .carousel-item__details--link:hover {
  text-decoration: none;
  color: red;
}

/* scrollbar */
::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track{
  background: rgba(190, 189, 189, 0.219);
}
::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.281);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.699);
}

.footer{

  background-color: #f1f9fe;
  text-align: center;
  font-size: 20px;



}